.main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.advice{
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
}

.container{
    padding: 1rem;
    border: 2px solid #2196f3;
    border-radius: 4%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: repeat(7, .5fr);

}

.container>h1{
    text-align: center;
}

.container>button{
    grid-row: 7;
    justify-self: center;
    width: 10rem;
}

.heddin_text{
    color: #2196f3;
}
input, select {
    border: 2px solid #2196f3;
    border-radius: 4px;
    padding: .2rem;
    font-size: 18px;
    text-align: center;
}
input:focus, select:focus {
    border-color: orange;
    outline: none;
    
}

label, option{
    font-size: 24px;
}